/*
   Programming Table Style Sheet
   Author: Mila Hose 
   Date: 3/1/17   
*/

/* 
========================================
            Table Body Styles
========================================
*/

table.programs {
	font-family: Arial, Verdana, sans-serif;
	border-collapse: collapse;
	border: 2px solid #000;
	width: 100%;
}

table.programs th, table.programs td {
	border: 1px solid #000;
}

/* 
========================================
          Table Caption Styles
========================================
*/

table.programs caption {
	caption-side: bottom; 
	text-align: left;
	font-size: 0.8em;
}

/* 
========================================
          Table Header Styles
========================================
*/

table.programs thead {
	color: #fff;
	background-color: rgb(105, 177, 60);
}

table.programs thead tr th {
	font-size: 0.9em;
	padding: 5px;
	border: 1px solid gray;
}

table.programs thead tr th:first-child {
	background-color: rgb(153, 86, 7);
}

table.programs thead tr th:nth-of-type(7), th:nth-of-type(8) {
	background-color: rgb(153, 0, 153);
}

/* 
========================================
           Table Body Styles
========================================
*/

table.programs tbody td {
	font-size: 0.8em;
	vertical-align: top;
	border: 1px solid gray;
	padding: 2px;
}

table.programs tbody tr {
	height: 25px;
}

/*
========================================
           Column Group Styles
========================================
*/

table.programs col.timeColumn {
	width: 10%;
	background-color: rgb(215, 205, 151);
}

table.programs col.wDayColumns {
	width: 11%;
	background-color: rgb(236, 255, 211);
}

table.programs col.wEndColumns {
	width: 17%;
	background-color: rgb(255, 231, 255);
}

/* 
========================================
           		Section Styles
========================================
*/

section#intro p {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	column-gap: 20px;
	
	-moz-column-rule: 1px solid black;
	-webkit-column-rule: 1px solid black;
	column-rule: 1px solid black;
}