/*
   Tables Style Sheet
   Author: Mila Hose	 
   Date: 2/28/17   
*/

/* 
========================================
          Schedule Table Styles
========================================
*/

table.schedule {
	border: 10px outset rgb(153, 0, 153);
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	width: 100%;
}

table.schedule th, table.schedule td {
	border: 1px solid grey;
}

/* 
========================================
          Table Header Styles
========================================
*/

table.schedule thead {
	background-color: rgb(203, 50, 203);
	color: #fff;
	color: rgba(255, 255, 255, 0.5);
}

table.schedule thead tr {
	height: 50px;
}

/* 
========================================
           Table Body Styles
========================================
*/

table.schedule tbody tr {
	height: 40px;
}

table.schedule tbody td {
	padding: 5px;
	vertical-align: top;
}

/* 
========================================
          First Column Styles
========================================
*/

table.schedule col.firstCol {
	background-color: rgb(255, 255, 192);
	width: 7%;
}

table.schedule col.dayCols {
	width: 13%;
}

/* 
========================================
          Table Caption Styles
========================================
*/

table.schedule caption {
	caption-side: bottom; 
	text-align: right;
}

/* 
========================================
  Two Column Layout for Intro Paragraph
========================================
*/
section #main p {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;

	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	column-gap: 20px;

	-moz-column-rule: 2px solid rgb(153, 0, 153);
	-webkit-column-rule: 2px solid rgb(153, 0, 153);
	column-rule: 2px solid rgb(153, 0, 153);
}