/*
	Pizza Style Sheet
	Author: Mila Hose 
	Date: 2/26/17   
*/

/* 
========================================
						 Page Styles
========================================
*/

header, section, aside, footer, nav {
	display: block;
}

* {
	margin: 0px;
	padding: 0px;
}

/* 
========================================
						 Body Styles
========================================
*/

body {
	background-color: red; 
	font-family: Verdana, Geneva, sans-serif; 
}

#container {
	width: 1000px;
	margin: 0 auto;
	border-left: 1px solid #000; 
	border-right: 1px solid #000;
	background: #fff url('redbar.png') repeat-y top left;
}

/* 
========================================
						Header Styles
========================================
*/

header {
	background-color: #fff;
	height: 100px;
}

/* 
========================================
					Horizontal Nav Styles
========================================
*/

nav.horizontal {
	height: 70px;
	width: 100%;
	background-color: #fff;
}

nav.horizontal li {
	background-color: #fff;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	width: 180px;
	display: block;
	float: left;
	margin: 0 5px;
	text-align: center;
}

nav.horizontal li a {
	display: block;
	background-color: red; 
	color: white;
	text-decoration: none;
	
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

nav.horizontal li a:hover {
	background-color: rgb(255, 101, 101);
	color: #000;
}

/* 
========================================
					 Vertical Nav Styles
========================================
*/

nav.vertical {
	clear: left;
	float: left;
	width: 200px;
}

nav.vertical li {
	list-style-type: none;
	text-indent: 20px;
	margin: 20px 0;
}

nav.vertical li a {
	color: #fff;
	text-decoration: none;
}

nav.vertical li a:hover {
	color: #000;
}

/* 
========================================
					 Main Section Styles
========================================
*/

#main {
	background-color: rgb(255, 211, 211);
	float: left;
	width: 600px;
}

#main > p {
	font-size: 20px;
	margin: 15px;
}

#main img {
	float: right;
	margin: 15px;
	width: 350px;
	-moz-border-bottom-left-radius: 350px;
	-webkit-border-bottom-left-radius: 350px;
	border-bottom-left-radius: 350px;
}

#main .coupon {
	border: 5px dashed #000;
	float: left;
	width: 170px;
	height: 150px;
	margin: 20px 10px;
	background: url('slice.png') no-repeat center, 
							url('notice.png') no-repeat bottom right #fff;
}

.coupon h1 {
	color: #fff;
	background-color: rgb(192, 0, 0);
	font-size: 16px;
	font-kerning: 2px;
	text-align: center;
	height: 25px;
	font-variant: small-caps;
}

.coupon p {
	font-size: 14px;
	text-align: center;
	margin: 5px;
}

/* 
========================================
					 Sidebar Styles
========================================
*/

aside {
	float: left;
	width: 200px;
}

aside h1 {
	color: rgb(192, 0, 0;);
	font-size: 20px;
	font-kerning: 2px; 
	font-weight: normal;
	text-align: center;
}

aside li {
	background-color: rgb(255, 135, 135);
	border-radius: 5px;
	color: #000;
	list-style-type: none;
	margin: 10px;
	padding: 5px;
}

/* 
========================================
					 Footer Styles
========================================
*/

footer {
	clear: left;
	margin: 200px;
}

footer address {
	border-top: 1px solid red;
	color: red;
	font-size: 10px;
	font-style: normal;
	text-align: center;
	margin-top: 25px;
	padding-bottom: 20px;

}
