/*
	History Style Sheet
  Author: Mila Hose	
  Date: 2/26/17   
*/

/* 
========================================
							Page Styles
========================================
*/

header, section, nav {
	display: block;
}

* {
	padding: 0px;
	margin: 0px;
}

/* 
========================================
							Header Styles
========================================
*/

header {
	background-color: rgb(51, 51, 51);
	text-align: center;
	width: 55em;
}

header img {
	height: 4em;
}

/* 
========================================
						 	 Nav Styles
========================================
*/

nav {
	float: left;
	width: 15em;
	padding-top: 50px;
	padding-bottom: 21px;
	background-color: rgb(51, 51, 51);
}

nav li {
	font-family: "Century Gothic", sans-serif;
	font-size: 0.7em;
	list-style-type: none;
	line-height: 1.4em;
	margin: 0 0 1em 1.2em;
}

nav li a {
	color: rgb(212, 212, 212);
	text-decoration: none;
}

nav li a:hover {
	color: #fff;
}

/* 
========================================
						  Speech Styles
========================================
*/

#speech {
	background-color: rgb(212, 212, 212);
	width: 40em;
	padding-bottom: 58px;
	float: left;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#speech h1 {
	background-color: rgb(51, 51, 51);
	color: rgb(212, 212, 212);
	font-size: 2em;
	text-align: center;
}

#speech p {
	font-size: 0.9em;
	margin: 1em;
}

#speech p:first-of-type:first-letter {
	float: left;
	font-size: 4em;
	line-height: 0.8em;
	margin-right: 0.1em;
	padding: 0 0.2em 0 0.2em;
	border-right: 0.02em solid #000;
	border-bottom: 0.02em solid #000;
}

#speech span {
	text-transform: uppercase;
}

#speech img {
	clear: right;
	float: right;
	height: 4em;

}