/*
   Civil War History Text and Color Style
   Author: Mila Hose
   Date: 2/8/17  
*/

/* 
========================================
            Layout Styles
========================================
*/

@import url("cw_layout.css");

/* 
========================================
            Body Styles
========================================
*/

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;  
}

/* 
========================================
            Header Styles
========================================
*/

h1, h2, h3, 
h4, h5, h6 {
	color: hsla(212, 0%, 0%, 0.4);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: normal;
	font-kerning: 5px;
	text-indent: 5px;
}

body > header > h1 {
	background-color: hsl(212, 100%, 29%);
}

/* 
========================================
          Navigation Styles
========================================
*/

nav.horizontal ul {
	font-family: "Century Gothic MS", sans-serif;
	font-size: 14px;
	font-weight: 700;
	font-kerning: 3px;
	line-height: 20px;
	list-style-type: none;
}

nav.horizontal ul li a {
	color: hsl(212, 100%, 70%);
	text-decoration: none;
}

nav.horizontal ul li a:hover {
	color: hsl(212, 10%, 29%);
}

nav.vertical {
	background-color: hsl(32, 100%, 95%);
}

.vertical h4 {
	color: hsla(32, 0%, 0%, 0.5);
	font-size: 18px;
	text-indent: 15px;
}

nav.vertical ol {
	list-style-type: upper-roman;
	line-height: 2em;
}

nav.vertical ol ol {
	list-style-type: upper-alpha;
}

nav.vertical ol li a {
	color: hsla(212, 100%, 29%, 0.6);
	text-decoration: none;
}

nav.vertical ol li a:hover {
	color: hsla(212, 100%, 29%, 1);
	text-decoration: underline;
}

/* 
========================================
            Section Styles
========================================
*/

section {
	background-color: hsl(212, 95%, 90%);
}

article > h2 + p:first-letter {
	font-size: 32px;
	text-transform: uppercase;
}

/* 
========================================
            Section Styles
========================================
*/

footer p {
	font-size: 10px;
	line-height: 30px;
	text-align: center;
}