/*
   Mountain Wheels Layout Style
   Author: Mila Hose
   Date: 2/6/17
*/

/* 
========================================
            Body Styles
========================================
*/

body {
   font-family: Tahoma, Geneva, sans-serif;
}

/* 
========================================
            Header Styles
========================================
*/

#articleheader {
	font-size: 18px;
	font-weight: normal;
	font-kerning: 7px;
	text-align: center;
}

nav ul {
	background-color: rgb(125, 120, 89);
	line-height: 3em;
	list-style-type: none;
}

nav ul li a {
	color: #fff;
	color: rgb(255, 255, 255, 0.5);
	text-decoration: none;
}

nav ul li:hover {
	background-color: rgb(131, 121, 36);
	list-style-image: url(wheelmarker.png);
}

nav ul li a:hover {
	color: yellow;
	color: rgb(255, 255, 255, 1.0);
}

/* 
========================================
            Section Styles
========================================
*/

#leftsection > p {
	font-size: 22px;
}

#leftsection > p:first-of-type:first-line {
	text-transform: uppercase;
}

blockquote {
	background-color: rgb(131, 121, 36);
	color: #fff;
	font: 16px "Comic Sans MS", Times, cursive;
}

blockquote p:before {
	content: open-quote;
}

blockquote p:after {
	content: close-quote;
}

#rightsection h1 {
	font-size: 22px;
	font-kerning: 3px:
	font-weight: normal;
	text-align: center; 
}

#rightsection h2 {
	font-size: 18px;
	font-weight: normal;
	text-align: right; 
}

#rightsection p {
	font-color: gray;
	font-size: 14px;
	text-align: justify;
}

/* 
========================================
            Footer Styles
========================================
*/

address {
	font-size: 16px;
	font-style: normal;
	text-align: center;
}