/*
  Dome Table Style
  Author: Mila Hose
  Date: 3/1/17 
*/

/* 
========================================
            Table Body Styles
========================================
*/

table.domeSpecs {
  font-size: 16px;
  margin: 0 0 20px 20px;
  float: right;
  border-collapse: collapse;
  background: url('tableback.png') bottom right no-repeat;
  background-size: cover;
}

table.domeSpecs td {
  padding: 0 5px;
}

/* 
========================================
            Caption Styles
========================================
*/

table.domeSpecs caption {
  font-size: 18px; 
  font-kerning: 5px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 10px;
  caption-side: top;
}

/* 
========================================
          Table Header Styles
========================================
*/

table.domeSpecs thead {
  border-bottom: 2px solid gray;
  background: url('top.jpg') repeat-x top;
}

table.domeSpecs thead tr {
  height: 40px;
}

table.domeSpecs thead th {
  padding: 0 5px;
  font-kerning: 2px;
}

table.domeSpecs thead th:first-of-type {
  background: url('topleft.jpg') top left no-repeat;
}

table.domeSpecs thead th:last-of-type {
  background: url('topright.jpg') top right no-repeat;
}

/* 
========================================
          Table Footer Styles
========================================
*/

table.domeSpecs tfoot {
  text-align: center;
  border-top: 2px solid gray;
  background: url('bottom.jpg') repeat-x bottom;
}

table.domeSpecs tfoot tr {
  height: 40px;
}

table.domeSpecs tfoot td:first-of-type {
  background: url('bottomleft.jpg') bottom left no-repeat;
}

table.domeSpecs tfoot td:last-of-type {
  background: url('bottomright.jpg') bottom right no-repeat;
}

/* 
========================================
            Table Body Styles
========================================
*/

table.domeSpecs tr {
  height: 50px;
  border-bottom: 1px dotted gray;
}

table.domeSpecs tbody td:first-of-type {
  background: url('left.jpg') top left repeat-y;
}

table.domeSpecs tbody td:last-of-type {
  background: url('right.jpg') top right repeat-y;
  text-align: right;
}

table.domeSpecs tbody tr:nth-of-type(even) {
  background-color: rgba(152, 228, 215, 0.6); 
}

table.domeSpecs tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.6); 
}

/* 
========================================
              Column Styles
========================================
*/

table.domeSpecs col.firstColumn {
  width: 22%;
}

table.domeSpecs col.middleColumn {
  width: 28%;
}

table.domeSpecs col.lastColumn {
  width: 22%;
}